-- -*- lua -*-
whatis("Description: openMPI version {{ ompi_version }}: Parallelize all the things!")
prepend_path('PATH','/opt/openMPI/{{ ompi_version }}/bin')
prepend_path('PATH','/opt/openMPI/{{ ompi_version }}/lib')
